@model DatabaseContext.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<div>
    
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
                
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
                
                <label class="d-none" asp-for="IsVip" class="control-label"></label>
                <input  class="d-none" asp-for="IsVip" class="form-control" />
                @*<span asp-validation-for="Name" class="text-danger"></span>*@

            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" onclick="savechanges()" class="btn btn-sub" />
            </div>
        </form>
    
</div>

<div>
    <a class="back" asp-action="Index"> &lt Back to List</a>
</div>
@*
<script>
        function savechanges() {
                    Swal.fire({
                      title: 'Do you want to save the changes?',
                      showDenyButton: true,
                      showCancelButton: true,
                      confirmButtonText: 'Save',
                      denyButtonText: `Don't save`,
                    }).then((result) => {
                      /* Read more about isConfirmed, isDenied below */
                      if (result.isConfirmed) {
                        Swal.fire('Saved!', '', 'success')
                      } else if (result.isDenied) {
                        Swal.fire('Changes are not saved', '', 'info')
                      }
                    })
                }
                
    </script>*@