@model DatabaseContext.Models.Order


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">

                <label asp-for="CustomerId" class="control-label"></label>
              <select class="btn btn-secondary btn-lg dropdown-toggle dropdown-menu-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-for="CustomerId" asp-items="@ViewBag.customers">
</select> 

                <label asp-for="Status" class="control-label"></label>
                <input  asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>

                <label asp-for="TotalPrice"  class="control-label"></label>
                <input  asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
        
       
                <label asp-for="Discount"  class="control-label"></label>
                <input  asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>

                <label asp-for="DeliveryPrice"  class="control-label"></label>
                <input asp-for="DeliveryPrice" class="form-control" />
                <span asp-validation-for="DeliveryPrice" class="text-danger"></span>

                 <label asp-for="DeliveryAddress"  class="control-label"></label>
                <input asp-for="DeliveryAddress" class="form-control" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
             
                
       
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" onclick="savechanges()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>   
</div>      
@*
<script>
        function savechanges() {
                    Swal.fire({
                      title: 'Do you want to save the changes?',
                      showDenyButton: true,
                      showCancelButton: true,
                      confirmButtonText: 'Save',
                      denyButtonText: `Don't save`,
                    }).then((result) => {
                      /* Read more about isConfirmed, isDenied below */
                      if (result.isConfirmed) {
                        Swal.fire('Saved!', '', 'success')
                      } else if (result.isDenied) {
                        Swal.fire('Changes are not saved', '', 'info')
                      }
                    })
                }
                
    </script>*@
